@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  font-family: "Kanit", sans-serif;
}

.App {
  text-align: center;
}

html {
  background-color: #e9dcc9;
}

.home-img {
  padding-top: 5%;
  width: 40%;
  border-radius: 5px;
}

img {
  padding-top: 5%;
  width: 60%;
  border-radius: 5px;
}

nav {
  display: block;
  padding-top: 1%;
  font-size: 20px;
  font-weight: bold;
}

a {
  color: #101820ff;
}

.tile {
  width: calc(600px / 3);
  display: block;
  margin: auto;
  width: 60%;
  padding: 10px;
}

h1 {
  font-style: bold;
  color: #00539cff;
}

p {
  font-size: 20px;
}

.date,
.author {
  display: inline-block;
  margin-right: 10px;
  font-weight: 800;
  color: #00539cff;
}

.comments {
  margin-top: 10px;
  border: 1px solid #c7b299;
  border-radius: 20px;
  margin-bottom: 10px;
  display: block;
}

button {
  color: white;
  font-size: larger;
  background-color: darkblue;
  border-radius: 8px;
  scroll-snap-align: start;
  cursor: pointer;
}

.topics-list {
  margin-top: 50px;
}

.topics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics-button {
  color: white;
  font-size: larger;
  background-color: darkblue;
  border-radius: 8px;
  scroll-snap-align: start;
}
